main {
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
  width: 260px;
  height: 400px;
  padding: 5px;
  background-color:gold;;
  border-radius: solid 50px;
  border-color: black;
}
.card-img-top {
  object-fit: cover;
  height: 125px;
}
.card-title {
  text-align: center;
  font-weight: bold;
}
.card-text {
  text-align: justify;
}
@media (max-width: 500px) {
  main {
    margin-top: 70px;
    padding-bottom: 30px;
    height: auto;
  }
  .card {
    margin: 10px;
    width: 200px;
    height: 450px;
  }
}